/*.main{*/
/*    position:fixed;*/
/*    top: 0;*/
/*    width:100%;*/
/*    z-index:100;*/
/*}*/

.background{
    color: #D3D3D3;
    text-decoration: none;
    cursor: pointer;
    padding-top: 5px;
    font-size: 17px;
}
.background::selection{
    cursor: pointer;
}

.cursor-simple{
    cursor: pointer;
}

.hover-color{
    display: inline-block;
    position: relative;
    color: #D3D3D3;
}

.hover-color:hover{
    color: #FFC300;
}

.hover-color:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #FFC300;
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
}

.hover-color:hover:after {
    transform: scaleX(1);
    transform-origin: left;
}

.logo-grow{
    transition: transform 0.2s;
}

.logo-grow:hover{
    transform: scale(1.4);
}

.font-simple{
    font-family: Arial, Helvetica, sans-serif;
}